.outline {
	border: 1px solid black;
	border-radius:25px;;
	width: 200px; 
	text-align: center; 
	padding: 10px; 
	margin: 10px; 
	background: #FFF; 
	color: #cc0033;
<<<<<<< HEAD
	height: 350px;
=======
	transform: scale(0.4, 0.4);
	position: absolute;
	
	
>>>>>>> f9a9818d7c0b656c2af05ba0a24ea358eaefd4d7
	 }

span { 
	display: block; 
	padding-right: 0.15em;
	padding-left: 0.15em;
}

.top { 
	text-align: left; 
	align-items: flex-start;
	}

.top img {
	width: 1em;
	max-width: 100%;
}
.bottom { 
	display: flex;
	align-items: flex-end;
	flex-direction: column-reverse;
	text-align: right; 
	}

.bottom img {
	width: 1em;
	max-width: 100%;
	transform: rotate(180deg);
}

.bottom span {
	transform: rotate(180deg);
}

<<<<<<< HEAD
.spacing {
	height: 263px;
}
=======
body{
	background: rgb(2, 83, 2);	
}

.table{
	position: fixed;
	top: 0;
	width: auto;
	height: auto;
	}

.player{
	border: 1px solid black;
	border-radius:25px;
	width:400px;
	height: 200px;
	
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 30%;
	 }

.house {
		position: fixed;
		top: 5em;
		left: 30%;
		border: 1px solid black;
		border-radius:25px;
		width:400px; 
		height: 200px;
		text-align: center;				
		margin: 10px;
	 }

.score	  {
		border: 1px solid black;
		border-radius:25px;
		width:200px; 
		height: 25px;
		background: red;
		position: fixed;
		top: 0;
		left: 70%;
		text-align: center;	
	}
	
.deck {
		position: fixed;		
		border: 1px solid black;
		border-radius:25px;
		width:100px; 
		height: 200px;
		text-align: center;				
		margin: 10px;
		top:30px;
	}

	.buttons{
		position:fixed;
		right:10px;
		bottom: 10px;
		
	}
>>>>>>> f9a9818d7c0b656c2af05ba0a24ea358eaefd4d7
